* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-image: linear-gradient(to bottom right, rgb(92, 36, 223), rgb(180, 59, 3));
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}